<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.fjut.gmxx.campusclub.baseddct.mapper.IBaseDdctMapper">

    <resultMap id="baseDdctMap" type="java.util.Map">
        <result column="uuid" property="uuid" javaType="java.lang.String"/>
        <result column="CREATE_TIME" property="createTime" javaType="java.util.Date"/>
        <result column="CREATE_USER" property="createUser" javaType="java.lang.String"/>
        <result column="UPDATE_TIME" property="updateTime" javaType="java.util.Date"/>
        <result column="UPDATE_USER" property="updateUser" javaType="java.lang.String"/>
        <result column="DEL_IND" property="delInd" javaType="java.lang.String"/>
        <result column="VERSION" property="version" javaType="java.lang.Integer"/>
        <result column="REMARK" property="remark" javaType="java.lang.String"/>
        <result column="STATUS_CD" property="statusCd" javaType="java.lang.String"/>

        <result column="DCT_KEY" property="dctKey" javaType="java.lang.String"/>
        <result column="DCT_TP_CD" property="dctTpCd" javaType="java.lang.String"/>
        <result column="DCT_TP_NM" property="dctTpNm" javaType="java.lang.String"/>
        <result column="DCT_VAL" property="dctVal" javaType="java.lang.String"/>
        <result column="DCT_VAL_NM" property="dctValNm" javaType="java.lang.String"/>
        <result column="DCT_DSC" property="dctDsc" javaType="java.lang.String"/>
        <result column="DCT_SEQ" property="dctSeq" javaType="java.lang.Integer"/>
    </resultMap>

    <sql id="column_list">
        base_ddct.uuid,
        base_ddct.REMARK,
        base_ddct.DCT_KEY,
        base_ddct.DCT_TP_CD,
        base_ddct.DCT_TP_NM,
        base_ddct.DCT_VAL,
        base_ddct.DCT_VAL_NM,
        base_ddct.DCT_DSC,
        base_ddct.DCT_SEQ,
        base_ddct.STATUS_CD,
        base_ddct.CREATE_TIME,base_ddct.CREATE_USER,base_ddct.UPDATE_USER,
        base_ddct.UPDATE_TIME, base_ddct.DEL_IND,
        base_ddct.VERSION
    </sql>

    <sql id="where_filters">
        <where>
            <if test="uuid!=null and uuid!=''">AND base_ddct.uuid = #{uuid}</if>
            <if test="delInd!=null and delInd!=''">AND base_ddct.DEL_IND = #{delInd}</if>
            <if test="version!=null and version!=''">AND base_ddct.VERSION = #{version}</if>

            <if test="statusCd!=null and statusCd!=''">AND base_ddct.STATUS_CD = #{statusCd}</if>
            <if test="dctKey!=null and dctKey!=''">AND base_ddct.DCT_KEY = #{dctKey}</if>
            <if test="dctTpCd!=null and dctTpCd!=''">AND base_ddct.DCT_TP_CD = #{dctTpCd}</if>
            <if test="dctTpNm!=null and dctTpNm!=''">AND base_ddct.DCT_TP_NM = #{dctTpNm}</if>
            <if test="dctVal!=null and dctVal!=''">AND base_ddct.DCT_VAL = #{dctVal}</if>
            <if test="dctValNm!=null and dctValNm!=''">AND base_ddct.DCT_VAL_NM = #{dctValNm}</if>
            <if test="dctDsc!=null and dctDsc!=''">AND base_ddct.DCT_DSC = #{dctDsc}</if>
            <if test="dctSeq!=null and dctSeq!=''">AND base_ddct.DCT_SEQ = #{dctSeq}</if>
        </where>
    </sql>

    <sql id="pagination">
        <if test="startIndex != null and pageSize!= null ">
            <![CDATA[
                LIMIT #{startIndex},#{pageSize}
            ]]>
        </if>
    </sql>
    <!--根据条件查询列表-->
    <select id="findBaseDdctList" parameterType="map" resultMap="baseDdctMap">
        SELECT
        <include refid="column_list"/>
        FROM base_ddct base_ddct
        <include refid="where_filters"/>
        ORDER BY base_ddct.CREATE_TIME DESC
        <include refid="pagination" />
    </select>

    <select id="findBaseDdctListAll" parameterType="map" resultMap="baseDdctMap">
        SELECT
        <include refid="column_list"/>
        FROM base_ddct base_ddct
        <include refid="where_filters"/>
        ORDER BY base_ddct.CREATE_TIME DESC
        <include refid="pagination" />
    </select>

</mapper>